<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jSDataTypes.js"></script>
</head>
<body>
<!--Khi cộng kiểu số với kiểu chuỗi thì JS sẽ chuyển kiểu số về kiểu chuỗi.-->
<p id="demo">Value: 3 + "some"</p>
<!--tao button khi click se goi function addNumberIntoString-->
<button type="button" onclick="addNumberIntoString()">Click</button>

<!--Trong trường hợp có toán tử thì JS sẽ xử lý theo thứ tự từ trái sang phải.-->
<p id="demo2">Value: 1 + 2 + "some"</p>
<button type="button" onclick="addNumberIntoStringWithOperator()">Click</button>

<!--Demo gia tri cua cac kieu du lieu-->
<p id="demo3">Value = </p>
<button type="button" onclick="getValue()">Click</button>

</body>
</html>