<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/JSIntroduction.js"></script>
</head>
<body>
<h2>What Can JavaScript Do?</h2>

<p id="demo">JavaScript can change HTML content.</p>
<button onclick="abc()" type="button"> Bấm </button>


<!--<p>JavaScript can change HTML attribute values.</p>-->
<!--<p>In this case JavaScript changes the value of the src (source) attribute of an image.</p>-->

<button onclick="on()">Turn on the light</button>
<img id="myImage" src="pic_bulboff.gif" style="width:100px">
<button onclick="off()">Turn off the light</button>


<p id="demo2">JavaScript can change the style of an HTML element.</p>
<button onclick="changestyle()">Bấm nhanh mẹ lên!</button>

<p id="demo3">JavaScript can hide HTML elements.</p>
<button onclick="hidecontent()">Có bấm không?</button>

</body>
</html>