<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Syntax</title>
    <!--<script src="../static/js/jsSyntax.js"></script>-->
</head>
<body>

<h1>JS Syntax</h1>
<p id="demo"></p>
<p>var x, y;          //  Cách khai báo biến</p>
<p>x = 5; y = 6;      //  Cách gán giá trị</p>
<p>z = x + y;         //  Cách tính giá trị</p>
<h3>Cú pháp JavaScript có hai loại giá trị:  Fixed values và variable values.</h3>
<p>*  Fixed values: Giá trị cố định còn được gọi là Literal.</p>
<p>*  Variable values: Giá trị có thể thay đổi.</p>
<p>Khai báo số nè:</p>
<p id="demo1"></p>
<p id="demo2"></p>
<p>Khai báo chuỗi nè:</p>
<p id="demo3"></p>
<p id="demo4"></p>
<p>Các toán tử được sử dụng để tính toán trong JS (+ - * /)</p>
<h3>Mã định danh JavaScript</h3>
<p>Trong JavaScript, mã định danh được sử dụng để đặt tên biến (và từ khóa, chức năng và nhãn).
    Các quy tắc cho tên hợp pháp rất giống nhau trong hầu hết các ngôn ngữ lập trình.
    Trong JavaScript, ký tự đầu tiên phải là một chữ cái hoặc dấu gạch dưới (_) hoặc ký hiệu đô la ($).
    Các ký tự tiếp theo có thể là chữ cái, chữ số, dấu gạch dưới hoặc ký hiệu đô la.
    Tất cả các định danh JavaScript đều phân biệt chữ hoa chữ thường .</p>
<p>Ví dụ:</p>
<p id="demo5"></p>
<h3>Camel Case là cách đặt tên biến Ví dụ : LenXuongNhuConLacDa.</h3>
<script>
    var lastname, lastName;
    lastName = "Như cax";
    lastname = "ahihi";
    document.getElementById('demo5').innerHTML = lastName;

    document.getElementById('demo1').innerHTML = 10;
    document.getElementById('demo2').innerHTML = 5.5;

    document.getElementById('demo3').innerHTML = "Nháy kép";
    document.getElementById('demo4').innerHTML = 'Nháy đơn nè';

    document.getElementById('demo').innerHTML = "Cú pháp của JavaScript là tập hợp các quy tắc, cách các chương trình JavaScript được xây dựng:\n";
</script>
</body>
</html>